@import url('https://fonts.googleapis.com/css2? family= Fredericka+the+Great & family= Lumanosimo & family= Permanent+Marker & display=swap');


body {
  align-items: center;
  background: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: scroll;
  
}

header {
  margin: auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.483);
  text-align: left;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  
  border-radius: 10px;
  border: 1px solid black;
  padding: 0px 100px;
}

main {
  margin: auto;
  min-width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

nav:hover {
  text-decoration: underline;
}

nav ul li {
  list-style: none;
}

ul a:hover {
  font-weight: bold;
  text-decoration: underline;
}

#titulo {
  font-family: 'Permanent Marker', serif;
  text-align: center;
  font-weight: bold;
  height: 80px;
  text-decoration: underline;
}

.guia {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h2,dt {
  font-family: 'Times New Roman', Times, serif;
}

dt {
  font-weight: bold;
  font-size: 20px;
}

footer {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.872);
  color: white;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1px 3px;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer__link{
  color: white;
  box-sizing: border-box;
}

.footer__link:hover {
  
  font-weight: normal;
}

footer img {
  width: 20px;
  
}


