/*Versão Mobile First*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 90vh;
    background: black url(../Imagem/imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

main {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.785);
    width: 80%;
    margin-top: 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 1.8rem;
}

img {
    display: block;
    margin: auto;
}
 .img {
    display: none;
}

.img--phone {display: block;}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

.inicio__button {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.2rem;
}

.inicio__button:hover {
    text-decoration: underline;
}

